@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Yellow);
}
main{
    background-color: var(--White);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--Black);
    box-shadow:  8px 0px 0px rgba(0,0,0,1);
    justify-content: center;
    text-align: left;
    margin-bottom: 35px;
}

h1{
    font-size: 24px;
    font-weight: 800;
}
h2{
    display: inline-block;
    margin-top: 24px ;
    padding: 12px 4px;
    width: 82px;
    background-color: var(--Yellow);
    border-radius: 4px ;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}
h3{
    font-size: 14px;
}
p {
    font-size: 16px;
    color: var(--Grey);
}
#avatar{
    width: 32px;
    height: 32px;
}
#illustration{
    width: 336px;
    height: 200px;
    border-radius: 10px;
}
.content{
    display: flex;
    width: 336px;
    flex-flow: column wrap;
    gap: 12px;
}
.author{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.author h1 {
    font-size: 14px;
}
h1:hover{
    cursor: pointer;
    color: var(--Yellow);
    transition: all 0.2s ease-in-out;
}
.attribution { font-size: 18px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }